{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form
		class="form" method="post">


		{# {% if app.user %}
		        <div class="mb-3">
		            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
		        </div>
		    {% endif %} #}
		<div class="form__logo"><img class="form__logo-image" src="logo.png"/></div>

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<label for="inputUsername">Nazwa użytkownika</label>
		<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
		<label for="inputPassword">Hasło</label>
		<input type="password" name="password" id="inputPassword" class="form-control" required>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}

        <button  type="submit" class="btn btn-success form__button"><i class="fas fa-key"></i> Zaloguj</button>
	</form>
{% endblock %}
