body {
  background-color: #ecf0f5;
}

.form {
  width: 100%;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f4f4f4;
  border-top: 3px solid #3c8dbc;
  background: white;
  padding:20px;
  border-radius:2px;
}
.form__logo {
  text-align: center;
  margin-bottom: 30px;
}
.form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-top:10px;
}
.form__logo-image {
  max-width: 100px;
}
.form__button {
  margin-top:10px;
}
.form__button i {
  font-size: 13px;
}